<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guiabeaconmaster2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@style/AppTheme.NoActionBar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Registrar" />
        <activity android:name=".Ambrobotica" />
        <activity android:name=".Ambquimica" />
        <activity android:name=".Ambfisica" />
        <activity android:name=".Ambsistemas" />
        <activity android:name=".Laboratorios" />
        <activity
            android:name=".Laboratorio207"
            android:label="@string/title_activity_laboratorio207"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Laboratorio206"
            android:label="@string/title_activity_prueba"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HorariosActivity"
            android:label="@string/title_activity_horarios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PanelActivity"
            android:label="@style/AppTheme.NoActionBar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>